    :root {
        --primary-color: rgba(204, 219, 0, 1);
        --secondary-color: rgba(92, 95, 98, 1);
    }

    html {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        margin: 0;
    }

    a,
    a:visited,
    a:active {
        color: var(--secondary-color);
        text-decoration: none;
    }

    .bg-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100vh;
        overflow: hidden;
        object-fit: cover;
        z-index: -1;
    }

    /* HEADER */
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: .1rem;
    }

    #topPart {
        background-color: var(--secondary-color);
        color: whitesmoke;
    }

    #bottomPart {
        background-color: var(--primary-color);
    }

    .link-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
    }

    .left-link-container a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        padding: 0.5rem 1rem;
    }


    .right-link-container {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-around;
        padding: 0.5rem 1rem;
    }

    .right-link-container a {
        text-decoration: none;
        color: white;
    }

    /* SearchBar */
    .search-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .search-icon {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .search-input {
        position: absolute;
        right: 0;
        width: 0;
        opacity: 0;
        padding: 8px;
        border: 1px solid #1c3306;
        border-radius: 20px;
        outline: none;
        transition: all 0.3s ease;
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .search-container.active .search-input {
        width: 200px;
        opacity: 1;
        padding-left: 15px;
    }

    .search-icon {
        width: 1em;
        height: 1em;
        position: relative;
        right: 5px;
        bottom: 1px;
        transition: all 300ms ease-in-out;
    }

    .search-container.active .search-icon {
        filter: invert(100%) grayscale(100%) brightness(50%);
    }

    .logo {
        transform: scale(.8);
        cursor: pointer;
    }

    .container .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.25rem;
        list-style: none;
    }

    .container .navLinks li a {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 3px 10px;
        border-radius: 10px;
        white-space: nowrap;
        border: 3px transparent;
        transition: all 500ms ease;
    }

    .container .navLinks li a:hover {
        background: transparent;
        border-radius: 30px;
        transition: all 500ms ease-in-out;
    }



    /* toggle de lenguaje */
    .toggle-lang {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 0.5px;
        gap: 5px;
    }

    .switch {
        display: inline-block;
        width: 50px;
        height: 25px;
        background: var(--primary-color);
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        transition: all 500ms ease-in-out;

    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        transition: all 500ms ease-in-out;

    }

    .switch input:checked+.slider {
        left: 28px;
    }



    /*Chat Bot*/
    .chat-bot-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border: 2px solid var(--secondary-color);

    }

    .chat-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border: 2px solid var(--secondary-color);
        border-radius: 10px;
    }

    .form-elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .chat-c1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: 600px;
        background: var(--secondary-color);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

    }

    .chat-box {
        flex: 1;
        overflow-y: auto;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .message {
        padding: 8px 12px;
        margin: 5px 0;
        border-radius: 15px;
        max-width: 70%;
    }

    .bot {
        background: #333;
        color: white;
        align-self: flex-start;
    }

    .user {
        background: var(--primary-color);
        align-self: flex-end !important;
    }

    .chat-header {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
        flex-shrink: 0;

    }

    .chat-input {
        display: flex;
        gap: 5px;
    }

    .chat-input input {
        flex: 1;
        padding: 8px;
        border-radius: 10px;
        border: none;
    }

    .chat-input button {
        padding: 8px 15px;
        border: none;
        background: var(--primary-color);
        border-radius: 10px;
        cursor: pointer;
    }

    .chat-form-inline {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;
    }

    .chat-form-inline input,
    .chat-form-inline select {
        padding: 6px;
        border-radius: 8px;
        border: none;
    }

    .chat-form-inline button,  #contacto{
        background: var(--primary-color);
        border: none;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        flex-wrap: wrap;
    }
    #contacto{
        color:var(--secondary-color);
        text-decoration: none;
        font-weight: 500;
    }